:root {
    --text-color: #636363;
}

body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, arial,
        sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

.header {
    margin: 1.2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-icon {
    width: 3rem;
}

.logo-text {
    display: inline;
    font-size: 2rem;
}

main {
    background-color: #e2e8f0;
    /* min-height: 600px; */
    padding: 1.5rem;
    box-shadow: 0px 1px 1px #e2e8f0, 0px -1px 1px #e2e8f0;

    display: grid;
    justify-content: center;
    align-items: center;
}

.game {
    width: 500px;
    margin: 3rem;
    border: 1px solid black;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
    font-size: 6rem;
    font-weight: bold;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
    opacity: 0.5;
    margin: 1rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
}

input[type="text"] {
    min-width: 100px;
    height: 0.4rem;
    width: 100%;
    background-color: #e2e8f0;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
}

input[type="text"]:focus-visible {
    border: none;
}

.invalid-input {
    border: 1px solid rgb(239, 52, 52) !important;
}

.btn {
    background-color: #1992d4;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 4rem;
    width: 5rem;
    height: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.header,
div[class="content-heading"],
div[class="card-title"] {
    font-weight: bold;
}

.hidden {
    display: none;
}

.icon {
    width: 1.5rem;
}

.icon,
.btn,
.resetBtn,
.card-buttons img {
    cursor: pointer;
}

.icon,
.btn,
input[type="text"] {
    transition: 0.1s;
}

.card {
    transition: 0.3s;
}

input[type="text"]:hover,
input[type="text"]:focus {
    transform: scale(1.03);
}

.btn:hover {
    transform: scale(1.05);
}

.card:hover {
    transform: scale(1.02);
}

img {
    transition: 0.5s;
}

img:hover,
.icon:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .game {
        max-width: 90vw;
    }
}
